fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.6.4
geopandas==0.14.3
fiona==1.9.6
shapely==2.0.3
pyproj==3.6.1
aiofiles==23.2.1
psycopg[binary]==3.2.9
python-dotenv==1.0.1
httpx==0.28.1
openpyxl==3.1.5
SQLAlchemy==2.0.29
alembic==1.13.2
